.grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap:1.5rem
}

/* @media (min-width: 768px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 125px 125px 125px 125px;
		gap: 1.5rem;
	}
} */

@media (width>= 768px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 125px 125px 125px 125px;
		gap: 1.5rem;
	}
}

